@import '../../components/common';

@include smaller-than(768px) {
  .element-with-sidebar {
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .demo-cube {
    left: 35vw;
    position: relative !important;
  }
}
@include greater-than(768px) {
  .page-oapack {
    margin: 0 8vw 0 calc(8vw - 40px);
  }
}
.page-oapack {
  display: flex;
  flex-flow: row wrap;
}
.psuedo {
  padding: 0px 5px;
  border-radius: 4px;
  background: rgb(255, 250, 224);
}

.fooo {
  justify-content: center;
  align-items: center;
}
