@import '../../components/common';

@include smaller-than(768px) {
  .demo-cube {
    left: 35vw;
    position: relative !important;
  }
}
@include greater-than(768px) {
  .page-oapack {
    margin: 0 8vw 0 calc(8vw - 40px);
  }
}
.page-oapack {
  display: flex;
  flex-flow: row wrap;
}

.fooo {
  justify-content: center;
  align-items: center;
}
