@import '../../components/common';

@include smaller-than(768px) {
  .demo-cube {
    left: 35vw;
    position: relative !important;
  }
  .oapack-wrapper h1 {
    margin-left: 5vw;
  }
}
@include greater-than(768px) {
  .page-oapack {
    margin: 0 8vw 0 calc(8vw - 40px);
  }
}
.page-oapack {
  margin: 0 5vw;
  display: flex;
  flex-flow: row wrap;
}

.carousel-item {
  // below for test purpose only
  background-size: cover;
  &:nth-child(2n + 1) {
    background-image: url(https://picsum.photos/400/200);
  }
  &:nth-child(2n) {
    background-image: url(https://picsum.photos/300/200);
  }
}

.fooo {
  justify-content: center;
  align-items: center;
}

input {
  width: 50%;
}
