@import '../../components/common';

.post-page {
  display: grid;
  justify-content: start;
  // align-items: center;
}

.oa-md {
  max-width: 700px;
  margin: 0 5vw 15vw;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  a {
    text-decoration-line: underline !important;
    transition-duration: $tm-mid;
    color: $secondaryClr;
    // border: solid $thirdClr;
    // border-width: 0 0 3px 0;
    &:hover {
      // border-color: $secondaryClr;
      color: $thirdClr;
    }
  }
  img {
    max-width: 80%;
    align-self: center;
    transition-duration: $tm-short;
    transition-timing-function: ease-in-out;
    &:active {
      transform: scale(1.7);
    }
  }
  p {
    display: flex;
    flex-direction: column;
  }
}
