@import './variables';
@import './media-query';
@import './utils';

@font-face {
  font-family: 'arkyakumono';
  src: url('https://cdn.jsdelivr.net/gh/houkanshan/mojikumi@0.0.1/fonts/arkyakumono.woff')
      format('woff'),
    url('https://cdn.jsdelivr.net/gh/houkanshan/mojikumi@0.0.1/fonts/arkyakumono.ttf')
      format('truetype'),
    url('https://cdn.jsdelivr.net/gh/houkanshan/mojikumi@0.0.1/fonts/arkyakumono.svg#arkicons')
      format('svg');
  font-weight: 400;
  font-style: normal;
}

body {
  color: $fontClr;
  overflow-x: hidden;
  font-family: 'arkyakumono', 'Noto Sans SC', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  min-height: 100vh;
}
img {
  // width: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
}
.page-wrapper {
  min-height: 100vh;
}

.side-wrapper {
  svg {
    vertical-align: text-bottom;
  }
}

.sidebar-active {
  color: $primaryClr !important;
}
@include greater-than(768px) {
  .oa-sidebar {
    transition-duration: $tm-mid;
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;
    & + .sidebar-placeholder ~ * {
      transition-delay: 0.1s;
      transition-duration: $tm-mid;
      transition-timing-function: ease-in-out;
    }
    &:not(:hover) {
      background: transparent;
    }
    &:hover {
      width: 160px;
      transition-delay: 0s;
      & + .sidebar-placeholder ~ * {
        transition-delay: 0s;
        transform: translateX(120px);
      }
    }
  }
}
@include smaller-than(768px) {
  .sidebar-placeholder {
    margin: 0;
  }
  .oa-sidebar {
    height: min-content;
    // padding: 5px 1px;
    bottom: 50px;
    padding: 10px 1px !important;
  }
  .oa-sidebar:hover > .sidebar-item-detail:not(:last-child) {
    padding: 0 2px 10px 0;
  }
}
