@import './common';

.post {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: normal;
  counter-increment: posts;
  max-width: 30vw;
  display: flex;
  justify-content: space-between;
  // width: ;
  // border: none;
  word-wrap: break-word;
  display: block;
  -webkit-column-break-inside: avoid;
  &:hover {
    transform: none;
  }
  @include smaller-than(768px) {
    max-width: initial;
    padding-left: 10px;
    padding-right: 10px;
    // display: flex;
    // flex-direction: row;
    img {
      max-height: 110px;
      margin-left: 10px;
      height: min-content;
    }
  }
  ////////////
  .card-text {
    flex: 2;
    display: grid;
    align-content: flex-start;
  }
  .tag-list {
    align-self: flex-end;
    display: flex;
    flex-flow: row wrap;
    margin-top: 7px;
    font-size: 0.7rem;
    .post-tag {
      white-space: nowrap;
      border-radius: 2px 3px 2px 3px;
      background: rgb(245, 245, 245);
      color: $secondaryClr;
      height: fit-content;
      margin-right: 5px;
      padding: 0 3px;
    }
    .tag-wip {
      background-color: #ffe9d5;
    }
  }
  .post-title {
    font-weight: bold;
    font-size: 18px;
    margin-right: 5px;
    cursor: pointer;
    color: $fontClr;
  }
  .post-content {
    color: $fontSecondaryClr;
    font-size: $fSize;
    @include smaller-than(768px) {
      font-size: $m-fSize;
    }
  }
  .post-img {
    flex: 1;
    object-fit: cover;
    // width: 100px;
    border-radius: $comic-radius;
    margin: 5px 0 5px 15px;
    transition-duration: $tm-mid;
    transition-timing-function: ease-in-out;
    &:hover {
      z-index: 1111;
      transform: scale(2.3);
      cursor: default;
    }
    @include smaller-than(768px) {
      transform: scale(1);
      &:hover {
        z-index: 9999;
        transform: scale(2.5);
        transform-origin: right;
      }
    }
  }
}

.post-lr {
  display: flex;
  .post-img {
    width: 0px;
    // height: auto !important;
    flex-basis: auto;
    max-height: 150px;
  }
}

.fa-link {
  margin: 0 0 3px 3px;
  font-size: 0.7rem;
}
