@import './common';

.async-article-posts {
  margin: auto auto 8px !important;
  display: flex !important;
  flex-direction: column-reverse;
  width: calc(100% - 3.7rem);
  grid-row: 3/5;
  justify-content: center;
  height: 91%;
  align-items: center;
  text-align: center;
  &:hover {
    transform: none;
  }
  h3 {
    margin-bottom: 1rem;
  }
}
.async-article-posts__link {
  width: fit-content;
  // font-weight: bold;
  // font-size: 18px;
  margin-right: 5px;
  cursor: pointer;
  color: $fontClr;
  display: block;
  margin: 4px auto;
  &:hover {
    text-decoration: underline;
  }
}

.blog-posts {
  display: flex;
  max-width: 800px;
  grid-column: 1/3;
  flex-wrap: wrap;
  margin: 0 8px 2rem;
  h2 {
    width: 100%;
  }
}

.blog-post__link {
  color: $fontClr;
  text-decoration: underline;
  font-size: 1.18rem;
  margin: auto 1rem 0.6rem;
  &:not(:last-child) {
    margin-right: 1rem;
  }
}
