.flex {
  display: flex;
}

.flex-v-center,
.flex-v {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.flex-v-center {
  align-items: center;
}
.flex-h-center {
  justify-content: center;
}
.flex-h-center,
.flex-h {
  display: flex;
  flex-flow: row, wrap;
  width: 100%;
}

.v-splitter {
  width: 0;
  height: 0;
  border: solid 1px;
}
