.flex-v-center,
.flex-v {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.flex-v-center {
  align-items: center;
}
.flex-h-center {
  justify-content: center;
}
.flex-h-center,
.flex-h {
  display: flex;
  flex-flow: row, wrap;
  width: 100%;
}

.v-splitter {
  width: 0;
  height: 0;
  border: solid 1px;
}

.oa-underline {
  position: relative;
  width: fit-content;
  // color: $primaryClr;
  // @include smaller-than(760px) {
  //   border: solid $secondaryClr;
  //   border-width: 0 0 3px 0;
  // }
  // @include greater-than(760px) {
  white-space: nowrap;
  z-index: 1001;
  &:hover::after {
    opacity: 0.6;
  }
  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 5px;
    width: 100%;
    height: 100%;
    border: $secondaryClr solid;
    opacity: 0.3;
    border-width: 0 0 8px 0;
  }
  // }
}
.oa-hover-underline {
  position: relative;
  color: $primaryClr;
  width: fit-content;
  @include smaller-than(760px) {
    border: solid $secondaryClr;
    border-width: 0 0 3px 0;
  }
  @include greater-than(760px) {
    white-space: nowrap;
    &:hover::after {
      opacity: 0.3;
    }
    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 5px;
      z-index: 1001;
      width: 100%;
      height: 100%;
      border: $secondaryClr solid;
      opacity: 0;
      border-width: 0 0 8px 0;
    }
  }
}

.reading-settings {
  max-width: 700px;
  p {
    font-size: 1.4rem;
    line-height: 1.5;
    @include smaller-than(768px) {
      font-size: 1.2rem;
    }
  }
}
.hidden {
  display: none;
}

.dark-bg {
  background: $dark-bg;
}

.fit-content {
  width: fit-content;
}
.oa-link {
  text-decoration-line: underline !important;
  transition-duration: $tm-mid;
  color: $secondaryClr;
  // border: solid $thirdClr;
  // border-width: 0 0 3px 0;
  &:hover {
    // border-color: $secondaryClr;
    color: $thirdClr;
  }
}
.psuedo {
  padding: 0px 5px;
  border-radius: 4px;
  background: rgb(255, 250, 224);
}
