@import '../components/common';

// .element-with-sidebar {
//   // justify-content: center;
//   flex-direction: column;
//   align-items: center;
// }
@include greater-than(768px) {
  .home-page {
    left: -20px;
    position: relative;
  }
}
.home-page {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .home-body {
    display: flex;
  }
}
.opt-hide {
  display: none !important;
}
.dropdown,
.oa-button,
.oa-filter-toggle,
.dropdown-title,
.oa-card {
  // font-weight: normal !important;
}
.dropdown {
  width: calc(100% - 7px);
}
.me-block {
  min-width: 256px;
  width: 260px;
  height: 30vh;
  display: grid;
  grid-template:
    'img img' 1fr
    'status status' min-content
    'title dscp ' min-content
    'title2 brick ' min-content
    'opts opts' min-content
    'socialmedia socialmedia' min-content
    'contact contact' min-content
    'type type' max-content
    / 1fr 2fr;
  // justify-items: center;
  // align-items: center;
  color: $fontClr !important;
  .me-status {
    grid-area: status;
    margin: 0 0 5px 3px;
  }
  .me-contact {
    grid-area: contact;
    justify-self: center;
  }
  .dropdown-list > * {
    color: $fontClr !important;
  }
  .btn-i {
    grid-area: title2;
    font-size: 17px;
    font-weight: bold;
    height: auto;
    &::before {
      background: #1ad9435e;
      // background: rgba(74, 76, 163, 88);
    }
  }
  .site-filters {
    grid-area: opts;
  }
  .block-filters {
    grid-area: brick;
    .oa-filter-toggle {
      color: $fontClr;
    }
  }
  .type-filter {
    grid-area: type;
  }
  .btn-hi {
    // height: auto;
    font-weight: bold;
    font-size: 17px;
    grid-area: title;
    &::before {
      background: #1ad9435e;
      // background: rgba(74, 76, 163, 0.6);
    }
    h2 {
      margin: 4px 0 0 0;
      // justify-self: center;
      // align-self: center;
    }
  }
  .dscp {
    grid-area: dscp;
    font-weight: bold;
    font-size: 17px !important;
    .dropdown-title {
      font-weight: bold;
      font-size: 17px !important;
    }
  }
  img {
    grid-area: img;
    border-radius: $comic-radius;
    z-index: 1000;
    filter: brightness(1.1);
    width: calc(100% - 6px);
    margin: $control-margin;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-property: filter transform;
    &:hover {
      filter: brightness(1.1) blur(20px);
      transform: scale(0.95);
    }
  }
}

.content {
  margin: 0 0 0 3%;
  // width: 70%;
  display: flex;
  flex-direction: column;
  // flex-flow: row wrap;
}

@-webkit-keyframes spinning {
  from {
    transform: rotateX(-90deg) rotateY(-90deg);
  }
  to {
    transform: rotateX(-90deg) rotateY(-450deg);
  }
}
@keyframes spinning {
  from {
    transform: rotateX(-90deg) rotateY(-90deg);
  }
  to {
    transform: rotateX(-90deg) rotateY(-450deg);
  }
}
.home-cube {
  grid-area: cube;
  // margin: 40px 0 52px;
  position: relative;
  transform: rotateX(-25deg) rotateY(-45deg);
  // transform: rotateX(-20deg) rotateY(-20deg) scale(0.6);
  // justify-self: center;
  // margin: 50px 0 0 1vw;
  // justify-self: center;
  align-self: center;
  // position: absolute;
  // right: 5vw;
  // grid-area: cube;
  // &:has(> .facet-f:hover) {
  // }
  perspective: none;
  // transform: rotateY(-36deg) rotateX(45deg) !important;
  // &:hover {
  // }
  &.hover-f {
    transform: none;
  }
  &.hover-l {
    transform: rotateY(-90deg);
  }
  &.hover-u {
    transform: rotateX(-90deg) rotateY(-90deg);
    animation: 3s linear 0.7s infinite spinning;
  }
  .cube-facet {
    // border: solid 1px black;
    font-size: 1.25rem;
    color: black;
    box-shadow: 0px 0px 2px rgb(0, 0, 0) inset;
  }
}

.site-intro {
  // font-size: 21px;
  text-transform: none;
  // min-width: 300px;
  max-width: 60vw;
  // width: 100%;
  // height: auto;
  // border: none;
  &:hover {
    transform: translateY(0);
  }
}

.posts {
  min-width: 300px;
  margin-top: 12px;
  max-width: calc(60vw + 8px);
  // background: #663399;
  // width: 100%;
  // display: grid;
  column-count: 2;
}

.site-intro,
.post {
  // border-color: $thirdClr !important;
}
.oa-card,
.oa-filters-wrapper::after,
.dropdown,
.cube-facet,
.oa-button,
.oa-btn::after {
  // border-color: $secondaryClr;
  border-color: #c0c0c0;
}

@include smaller-than(768px) {
  .home-body {
    flex-direction: column;
    align-items: center;
  }

  .oa-cube {
    position: absolute;
    top: 0;
    right: 15vw;
    transform: rotateX(-25deg) rotateY(-45deg) !important;
  }
  .me-block {
    margin-bottom: 20px;
    width: 80vw;
    height: min-content;
    grid-template:
      'img img' 1fr
      'status status' min-content
      'title dscp ' 52px
      'title2 brick ' min-content
      'opts opts' min-content
      'socialmedia socialmedia' auto
      'contact contact' auto
      'type type' auto
      / 1fr 3fr;
    img {
      // justify-self: start;
      width: 160px;
    }
    .dropdown {
      width: max-content;
    }
    .btn-hi,
    .btn-i {
      justify-self: end;
      width: -webkit-fill-available;
    }
    .dscp {
      justify-self: start;
    }
  }
  .content {
    margin-left: 0;
    margin-right: 0;
    .posts {
      column-count: 1;
    }
  }
  .site-intro,
  .posts {
    max-width: initial;
    display: table;
  }
}
